*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/static/Rubik-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-color: #fff;
}

.header__inner {
  height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 46px 0 88px;
}

.menu__item {
  display: inline;
  margin-right: 40px;
}

.button__sign-in {
  font-weight: 600;
  color: #0B132A;
}

.button__sign-up {
  padding: 13px 45px;
  border: 1px solid #F53855;
  border-radius: 50px;
  margin-left: 30px;
  color: #F53855;
  font-weight: 600;
}

.header__content {
  display: flex;
  justify-content: space-between;
  height: 382.44px;
}

.header__content_text {
  width: 555px;
  margin-bottom: 50px;
}

.header__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  color: #0B132A;
  margin-bottom: 20px;
}

.header__text span {
  font-weight: 600;
}

.button__wrapper {
  position: relative;
}

.button__get-started {
  background-color: #F53838;
  font-weight: 700;
  line-height: 25px;
  padding: 18px 78px;
  color: #fff;
  border-radius: 10px;
  position: relative;
  z-index: 10;
}

.button__get-started_filter {
  width: 212px;
  height: 60px;
  background-color: rgba(245, 56, 56, 0.35);
  filter: blur(30px);
  position: absolute;
  z-index: 5;
  bottom: -20px;
  left: 8px;
  display: flex;
  justify-content: center;
}

.main {
  position: relative;
}

.statistics-count {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
}

.statistics-text {
  font-size: 20px;
  line-height: 30px;
}

.statistics {
  position: relative;
  background-color: #fff;
}

.statistics__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 37.21px 0;
  border-radius: 10px;
  /* border: 1px solid #000; */
  background-color: #fff;
  position: relative;
  z-index: 10;
}

.statistics__content_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 365.5px;
  height: 125.57px;
}

.statistics__content_item:nth-child(2) {
  border-left: 1px solid #EEEFF2;
  border-right: 1px solid #EEEFF2;
}

.statistics__icon {
  margin-right: 36.5px;
  width: 55px;
  height: 55px;
}

.statistics__filter {
  width: 1068.64px;
  height: 189.22px;
  background: #0D1025;
  opacity: 0.06;
  filter: blur(114px);
  position: absolute;
  top: 50px;
  left: 31px;
}

.features {
  background-color: #fff;
}

.features__descr {
  width: 428px;
}

.title {
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  margin-bottom: 20px;
}

.features__descr-text {
  margin-bottom: 20px;
}

.features__descr_list {
  list-style: none;
}

.features__descr_item {
  font-size: 14px;
  line-height: 30px;
  vertical-align: middle;
}

.features__descr_item::before {
  content: url(../icons/check.svg);
  position: relative;
  bottom: -5px;
  padding-right: 12px;
}

.features__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 53px 0 131px;
}

.plan {
  background: #F6F6F6;
}

.plan__inner {
  padding: 80px 0 70px;
}

.section__top {
  text-align: center;
  display: flex;
  justify-content: center;
}

.top__wrapper {
  max-width: 555px;
}

.plan__box-img {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.plan__box-title {
  font-size: 18px;
  color: #0B132A;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 30px;
  text-align: center;
}

.plan__box-list {
  list-style: none;
}

.plan__box-item {
  font-size: 14px;
  line-height: 30px;
}

.plan__box_list-item::before {
  content: url(../icons/check-plan.svg);
  padding-right: 26px;
}

.plan__box_bottom-title {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: #0B132A;
  margin-bottom: 20px;
  text-align: center;
}

.plan__box_bottom-title span {
  font-weight: 400;
}

.plan__box_btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 18.96px;
  color: #F53838;
  padding: 13px 63px;
  border: 2px solid #F53838;
  border-radius: 50px;
}

.plan__box_btn:hover {
  background-color: #F53838;
  color: #fff;
}

.plan__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 60px;
}

.plan__box {
  width: 330px;
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
}

.plan__box:hover {
  border-color: #F53838;
}

.plan__box_wrapper-img {
  display: flex;
  justify-content: center;
}

.global-network {
  background: #F6F6F6;
}

.global-network__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 70px;
}

.section__top_global-network {
  margin-bottom: 156px;
}

.sponsored {
  background: #F6F6F6;
  padding-bottom: 50px;
}

.sponsored__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.happy-customer {
  background: #F6F6F6;
  overflow: hidden;
  position: relative;
}

.happy-customer__top {
  margin-bottom: 60px;
}

.happy-customer__slider {
  display: grid;
  grid-template-columns: 400px 400px 400px 400px;
  grid-gap: 50px;
}

.happy-customer__slider_item {
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  padding: 30px;
}

.happy-customer__slider_item:hover {
  border: 2px solid #F53838;
}

.happy-customer__profile_name {
  font-weight: 600px;
  font-size: 16px;
  line-height: 30px;
  color: #0B132A;
}

.happy-customer__profile_location {
  font-size: 14px;
  line-height: 30px;
}

.happy-customer__profile_descr-text {
  font-size: 16px;
  color: #0B132A;
  line-height: 30px;
}

.happy-customer__persone {
  width: 340px;
}

.happy-customer__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.happy-customer__profile_wrapper {
  display: flex;
}

.happy-customer__profile_photo-descr {
  padding: 20px;
}

.profile_rating::after {
  content: url(../icons/star.svg);
  padding-left: 10px;
}

.happy-customer__dot_item {
  width: 15px;
  height: 15px;
  background-color: #DDE0E4;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.happy-customer__dot-1 {
  width: 45px;
  background-color: #F53838;
  border-radius: 15px;
}

.happy-customer__dot {
  display: flex;
}

.happy-customer__arrow {
  display: flex;
  align-items: center;
  height: 200px;
}

.happy-customer__arrow_item {
  cursor: pointer;
}

.happy-customer__arrow_left {
  margin-right: 20px;
}

.happy-customer__arrow_right {
  transform: rotate(179deg);
}

.happy-customer__inner {
  padding-bottom: 100px;
}

.happy-customer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe__descr {
  text-align: left;
  width: 375px;
  position: relative;
}

.subscribe__btn {
  background-color: #F53838;
  font-weight: 700;
  line-height: 25px;
  padding: 17px 65px;
  color: #fff;
  border-radius: 10px;
  position: relative;
  z-index: 10;
}

.subscribe__btn_filter {
  width: 212px;
  height: 60px;
  background-color: rgba(245, 56, 56, 0.35);
  filter: blur(30px);
  position: absolute;
  z-index: 5;
  bottom: -20px;
  left: 8px;
  display: flex;
  justify-content: center;
}

.subscribe__inner {
  position: relative;
}

.subscribe__wrapper {
  padding: 59px 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: -130px;
}

.subscribe__filter {
  width: 1068.64px;
  height: 189.22px;
  background: #0D1025;
  opacity: 0.06;
  filter: blur(114px);
  position: absolute;
  top: -62px;
  left: 29px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__text {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
}

.footer__copyright {
  color: #AFB5C0;
}

.footer__copyright span {
  font-weight: 600;
}

.footer__title {
  font-size: 16px;
  font-weight: 600;
  color: #0B132A;
  line-height: 30px;
  margin-bottom: 20px;
}

.footer__list {
  list-style: none;
}

.footer__list_item {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 10px;
}

.footer__inner {
  padding: 220px 0 100px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: 126px;
}

.footer__social {
  width: 340px;
}

.footer {
  background-color: #dcdcdc80;
}

.menu__btn {
  display: none;
}

/* Responsive code */

@media screen and (max-width: 1140px) {
  .header__content {
    flex-direction: column;
    align-items: center;
  }

  .header__content_descr {
    margin-bottom: 80px;
  }

  .header__content_box {
    display: none;
  }

  .statistics__filter {
    display: none;
  }

  .statistics__content_item {
    width: auto;
  }

  .statistics__content_item:nth-child(2) {
    border-left: none;
    border-right: none;
  }

  .subscribe__filter {
    display: none;
  }
}

@media screen and (max-width: 1049px) {
  .global-network__locations {
    max-width: 900px;
  }
}

@media screen and (max-width: 1030px) {
  .plan__content {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 40px;
  }

  .sponsored__wrapper {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

@media screen and (max-width: 991px) {
  .header__top {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .logo {
    width: 100%;
    text-align: center;
  }

  .title {
    font-size: 26px;
  }

  .features__descr-text {
    font-size: 14px;
  }

  .features-img {
    max-width: 420px;
  }

  .global-network__locations {
    max-width: 750px;
  }

  .footer__inner {
    grid-template-columns: 3fr 2fr;
    grid-gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  .button__sign-up {
    margin-left: 0;
  }

  .header__top {
    justify-content: end;
  }

  .menu__btn {
    display: inline-block;
    width: 40px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: transparent;
    position: absolute;
    left: 10px;
    top: 100px;
  }

  .menu__btn::after,
  .menu__btn::before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #0B132A;
  }

  .menu__btn::before {
    top: 0;
  }

  .menu__btn::after {
    bottom: 0;
  }

  .menu__btn span {
    display: block;
    height: 2px;
    background-color: #0B132A;
  }

  .menu__list {
    transform: translateY(-1000%);
    display: block;
    background-color: #0B132A;
    color: #fff;
    padding: 10px 0;
    position: absolute;
    left: 0;
    right: 0;
  }

  .menu__list.menu__list--active {
    transform: translateY(30%);
  }

  .menu__item {
    margin-right: 0;
  }

  .menu__link {
    padding: 10px;
    display: block;
    text-align: center;
  }

  .features__content {
    flex-direction: column;
    padding-bottom: 70px;
  }

  .features-img {
    margin-bottom: 20px;
  }

  .plan__content {
    grid-template-columns: repeat(1, 1fr);
  }

  .global-network__locations {
    max-width: 630px;
  }

  .section__top_global-network {
    margin-bottom: 105px;
  }

  .sponsored__wrapper {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .subscribe__wrapper {
    flex-direction: column;
    align-items: start;
  }

  .subscribe__descr {
    max-width: 375px;
    margin-bottom: 20px;
  }

  .footer__inner {
    padding-top: 290px;
  }
}

@media screen and (max-width: 616px) {
  .header__content_text {
    max-width: 555px;
  }

  .header__content_img {
    max-width: 512px;
  }

  .features-img {
    /* max-width: 420px; */
  }

  .global-network__locations {
    max-width: 530px;
  }
}

@media screen and (max-width: 576px) {
  .header__title {
    font-size: 32px;
  }

  .header__content_text {
    max-width: 430px;
  }

  .header__content_img {
    max-width: 412px;
  }

  .header__top {
    padding-bottom: 40px;
  }

  .statistics__content {
    grid-template-columns: repeat(1, 1fr);
    justify-items: start;
  }

  .global-network__locations {
    max-width: 420px;
  }

  .subscribe__descr {
    max-width: 270px;
  }

  .footer__inner {
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
  }

  .footer__social {
    width: auto;
  }
}

@media screen and (max-width: 483px) {
  .sponsored__wrapper {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-gap: 10px;
  }
}

@media screen and (max-width: 434px) {
  .header__content_text {
    max-width: 320px;
  }

  .header__content_img {
    max-width: 360px;
  }

  .header__text {
    font-size: 14px;
  }

  .features-img {
    max-width: 320px;
  }

  .features__descr {
    max-width: 320px;
  }

  .global-network__locations {
    max-width: 340px;
  }

  .subscribe__descr {
    max-width: 200px;
  }

  .footer__inner {
    padding-top: 330px;
  }
}

@media screen and (max-width: 360px) {
  .plan__box {
    width: 260px;
  }

  .global-network__inner {
    padding-top: 60px;
  }

  .footer__inner {
    padding-top: 390px;
  }
}